.lineaLogin {
    max-width: 350px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-grow: 1;

}

.lineaLogin label {
    width: 35%;
    text-align: right;
}

.lineaLogin input {
    width: 65%;
    border-radius: 5px;
}

.login {
    width: 350px;
    height: 30px;
    background-color: var(--clickeable);
    border-radius: 10px;
}